*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root{
    --pink: #f67c92; 
}

/* Hero Image */

#header{
    height: 100vh;
    background-image: url("../images/mainmodules.jpg");
    background-position: center;
    background-size: cover;
}

.container{
    margin-left: 100px;
    margin-right: 100px;
}

.logo{
    margin-top: 15px;
    width: 200px;
}

.header-text{
    max-width: 350px;
    margin-top: 140px;
}

.text{
    margin-bottom: 20px;
    margin-top: 20px;
}

h1{
    font-size: 34px;
}

.square{
    height: 12px;
    width: 12px;
    display: inline-block;
    background: var(--pink);
    margin: 15px 0px;
}

.common-btn{
    padding: 18px 40px;
    background: transparent;
    outline: none;
    border: 2px solid var(--pink);
    font-weight: bold;
    cursor: pointer;
}
.common-btn a{
    text-decoration: none;
    color: black;
}

p{
    font-size: 15px;
    line-height: 18px;
    color: #777;
}

.header-text button{
    margin-top: 20px;
    margin-bottom: 60px;
}

.line-1{
    width: 15px;
    height: 15px;
    background: var(--pink);
    /* display: inline-flex; */
}
.line-2{
    width: 80px;
    height: 1px;
    background: var(--pink);
    /* display:inline-flex; */
}
.line-3{
    width: 60px;
    height: 1px;
    background: var(--pink);
    /* display: inline-flex; */
}
.line{
    line-height: 10px;
}

/* Nav bar */

#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #f67c92;
    z-index: 2;
    transition: 0.5s;
}

nav div{
    margin: 50px 20px;
}
nav a{
text-decoration: none;
    color: white;
}
#menu-btn{
    width: 50px;
    position: fixed;
    right: 65px;
    top: 35px;
    z-index: 2;
    cursor: pointer;
}

.dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .show {
    display: inline-block;
  }
/* About Us */
#about{
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about-left-call{
    flex-basis: 50%;
}

.about-left-call img{
    width: 100%;
}

.about-right-call{
    flex-basis: 50%;
    text-align: right;
}

.about-text{
    max-width: 500px;
    margin-right: 100px;
    display: inline-block;
}

.about-text h2{
    margin: 50px 0px 10px;
    font-size: 28px;
    font-style: italic;
}

.about-text h3{
    font-size: 20px;
    font-style: italic;
    color: #797979;
}

/* Features */
#features{
    padding-top: 50px;
    padding-bottom: 50px;
}

#features h1{
    text-align: center;
    margin-bottom: 70px;
    font-size: 34px;
}

.feature-row{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.feature-col{
    flex-basis: 25%;
    text-align: center;
}
.feature-col img{
    width: 100px;
}
.feature-col h4{
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 400;
}

.feature-btn{
    margin: 80px auto 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}


/* Features */
#courses{
    padding: 100px 0;
}
.course-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.course-right-col{
    flex-basis: 50%;
}
.course-right-col img{
    width: 100%;
}
.course-left-col{
    flex-basis: 50%;
}
.course-text{
    max-width: 350px;
}
.course-text button{
    margin: 30px 0;
}

/* Creators */
#creators h1{
    text-align: center;
    margin-bottom: 70px;
    font-size: 34px;
}
.creator-row{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.creator-col a{
    text-decoration: none;
}
.creator-col{
    text-align: center;
    flex-basis: 20%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0px 10px 20px 3px var(--pink);
    transition: transform 0.5s;
}
.creator-col p{
    font-size: 15px;
    margin-top: 20px;
}
.creator-col h3{
    color: black;
}
.creator-col:hover{
    transform: translateY(-10px);
}

/* Contact */
.contact-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.contact-left-col,.contact-right-col{
    flex-basis: 50%;
}
.contact-right-col img{
    width: 100%;
}

/* Form */
form{
    max-width: 350px;
    margin: 30px 0;
}
form input{
    width: 100%;
    padding: 12px 10px;
    margin-bottom: 5px;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    border: 2px solid var(--pink);
}
.btn-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btn-box button{
    flex-basis: 48%;
    padding: 18px 0;
}

/* Footer */
#footer{
    padding: 50px 0 30px;
}
hr{
    width: 100%;
    border: 0;
    border-top: 1px solid var(--pink);
}
.footer-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left-col{
    flex-basis: 60%;
    margin-top: 60px;
}
.footer-right-col{
    flex-basis: 35%;
}
.footer-links{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}
.link-title h4{
    color: #fab3c4;
    margin-bottom: 20px;
}
.link-title small{
    font-size: 13px;
    color: #777;
}

.footer-info{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-logo img{
    width: 150px;
}
.footer-logo button{
    padding: 12px 38px;
    margin-top: 20px;
    font-size: 10px;
}
.copyright-text,.footer-logo{
    flex-basis: 40%;
}


/* media queries */
@media only screen and (max-width: 770px){
    /* Hero Image */
    #header{
        height:90vh;
        background-image: none;
    }
    .container{
        margin-left: 50px;
        margin-right: 50px;
    }
    .logo{
        margin-top: 10px;
        width: 150px;
    }
    .header-text{
        margin-top: 100px;
    }
    .header-text p{
        word-spacing: 3px;
        line-height: 23px;
    }
    h1{
        font-size: 25px;
    }
    #menu-btn{
        width: 40px;
        right: 50px;
    }
    .common-btn{
        padding: 10px 16px;
    }

    /* About */
    .about-left-call, .about-right-call{
        flex-basis: 100%;
    }
    .about-text{
        margin: 50px 50px 0 ;
        display: inline-block;
    }
    .about-text p{
        word-spacing: 3px;
        line-height: 23px;
    }
    .about-text h2{
        font-size: 18px;
    }
    #about{
        padding: 0 0;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    /* features */
    .feature-row p{
        word-spacing: 3px;
        line-height: 23px;
    }
    .feature-col{
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    .course-left-col{
        flex-basis: 100%;
    }
    .course-right-col{
        flex-basis: 100%;
        margin-top: 20px;
    }

    /* Contact */
    .contact-left-col{
        flex-basis: 100%;
    }
    .contact-right-col{
        flex-basis: 100%;
        margin-top: 70px;
    }

    /* Footer */
    
    .footer-left-col, .footer-right-col{
        flex-basis: 40%;
        justify-content: flex-start; 
    }
    .footer-left-col{
        flex-basis: 48%;
    }
    .link-title{
        flex-basis: 60%;
        margin-bottom: 30px;
        justify-content: flex-end;
    }
    .footer-logo img{
        width: 150px;
    }

    /* Courses */
    #courses{
        padding: 40px 0;
    }
    #courses p{
        word-spacing: 3px;
        line-height: 23px;
    }
    /* Creators */
    .creator-class p{
        word-spacing: 3px;
        line-height: 23px;
    }
    .creator-col{
        flex-basis: 100%;
    }
}